@import "tailwindcss";

/* 基础移动端适配与重置 */
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
